


<div class="p7" >
<div class="border-light">
    <div id="hi" class="border border-4  pb-5 pt-5">
        
       
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <img [src]="knowDetails.Poster" class="img-fluid rounded-start" alt="..." style="border-radius: 10px; margin: 10px;"> 
                    <br> <br>
                   
                    <a href={{knowDetails.video}} class=" btn btn-primary me-3" target="_blank"> watch trailer</a>
                </div>
                <div style="margin-top:20px;" class="col-5">
                    <h5 class="card-title"><b>id</b>:{{knowDetails.id}}</h5>
                    <p class="card-text"><b>Title</b>: {{knowDetails.Title}} <br>
                        <b> year</b>: {{knowDetails.Year}} <br>
                         <b>Released</b> : {{knowDetails.Released}} <br>
                        <b> imdbRating</b> : {{knowDetails.imdbRating}} <br>
                        <b> imdbVotes</b>: {{knowDetails.imdbVotes}} <br>
                        <b> Language:</b>{{knowDetails.Language}} <br>
                        <b> plots:</b>{{knowDetails.Plot}} <br>
                        
                       <br> <br>
                        
                </div>
                <div class="col-1"></div>
            </div>
          
         
             </div>
    
    </div>

   
  </div>
</div>

