
     <!-- navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/movies"><h1 style="font-family:'Unbounded', cursive;" class=" text-danger text-center">
       <img style="height:60px;" src="https://thumbs.gfycat.com/ImpressiveVerifiableBelugawhale-size_restricted.gif" alt="">
        &nbsp; MOVIE HUB</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- <div style="float: left;" class="lang-wrapper">
         

          <select class="text-center" name="language"  id="language">
            <i class="fa-solid fa-globe"></i>
            <option value="en">EN</option>
            <option value="au">AU</option>
            <option value="ar">AR</option>
            <option value="tu">TU</option>
          </select>
        </div> -->
          <li class="nav-item me-5"><input (keyup)="search($event)" type="text" placeholder="search your movies here" class="form-control "></li>
          <li  class="nav-item"><a class="nav-link " aria-current="page" routerLink="/movies">home</a></li>
          <li  class="nav-item"><a class="nav-link " aria-current="page" routerLink="movies/watchlater">watch later</a></li>
          <!-- <li  class="nav-item"><a class="nav-link " aria-current="page" routerLink="../register">register</a></li> -->
         
          
       
         
      </ul>
  </div>
  </nav>
